body {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: relative;
    }
.main-svg {
    background: none!important;
}
.aktiensymbol--text {
text-transform: uppercase;
}
.main-svg text {
color: white!important;
fill: white!important;
}

.modebar-container {
 display: none;
}
.input-label, th, li, td, p, tr, label {
    color: white;
    font-size: 21px;
    margin-bottom: 0!important;
}
body::after {
content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.table tbody {
    border-top: white!important;
}
.main-container {
	width: 100%;
	min-height: 100vh;
}

.main-content {
	width: 600px;
	margin: 0 auto;
	padding: 50px 0 0 0;
}

.form-group {
margin-bottom: 1rem;
}

.result-container {
	width: 100%;
	margin: 50px 0 0 0;
}

.input-label {
    margin-bottom: 6px;
    margin-top: 16px;
}

a.nav-link {
color: white;
}
a.nav-link:hover {
color:white;
opacity: 0.7!important;
}