<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
    <h1>Herzlich Willkommen</h1>
<body>
    <div>Aktiensymbol</div>
    <div>
		<input id="aktiensymbol" name="aktiensymbol" type="text">
	</div>
    <div>Anzahl Aktien</div>
    <div>
		<input id="anzahl" name="anzahl" type="number" step="1" min="0">
		<!-- step = 1 damit nur ganze Aktien (int) eingetragen werden können -->
	</div>
    <div>Preis</div>
    <div>
		<input id="preis" name="preis" type="number" step="0.01" min="0">
		<!-- step = 0.01 damit auch float Nummern eingetragen werden können -->
	</div>
    <button type="fertig" class="btn btn-primary">Fertig</button>
	<div>
		<div class="panel panel default">
			<table class="tabelle">
				<thead>
					<tr>
						<th scope="col">Aktiensymbol</th>
						<th scope="col">Einkaufpreis</th>
						<th scope="col">Marktpreis</th>
						<th scope="col">Anzahl</th>
						<th scope="col">Gewinn</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ print "test" }}</td>
						<td>Wert2</td>
						<td>Wert3</td>
						<td>Wert4</td>
						<td>Wert5</td>
					</tr>
				</tbody>
			</div>
		</table>
	</div>

</body>
</html>