{% extends 'base.html' %}
<!-- Verbindung zwischen index.html und base.html wird hergestellt -->
{% block content %}
<!-- alles innerhalb dieses block ist ebenfalls innerhalb des blocks bei base.html -->
<div class="mb-5">
   <form action="/" method='POST'>
      <div class="input-label">Aktiensymbol</div>
      <div>
         <input class="form-control" id="aktiensymbol" name="aktiensymbol" type="text" required>
      </div>
      <div class="input-label">Anzahl Aktien</div>
      <div>
         <input class="form-control" id="anzahl" min="0" name="anzahl" step="1" type="number" required>
         <!-- step = 1 damit nur ganze Aktien (int) eingetragen werden können -->
      </div>
      <div class="input-label">Preis</div>
      <div>
         <input class="form-control" id="preis" min="0" name="preis" step="0.01" type="number" required>
         <!-- step = 0.01 damit auch float Nummern eingetragen werden können -->
      </div>
      <div class="mt-4">
         <button class="btn btn-primary px-4 py-2 bg-" type="submit">Fertig</button>
      </div>
   </form>
</div>
<!-- falls graph_ready false ist wird nichts angezeigt -->
{% if graph_ready %}
<div class="panel panel default mb-4">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Aktiensymbol</th>
            <th scope="col">Einkaufpreis</th>
            <th scope="col">Marktpreis</th>
            <th scope="col">Anzahl</th>
            <th scope="col">Rendite</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class="aktiensymbol--text">{{ result.aktiensymbol }}</td>
            <td>{{ result.preis }}</td>
            <td>{{ result.marktpreis }}</td>
            <td>{{ result.anzahl }}</td>
            <td>{{ result.gewinn }}</td>
         </tr>
      </tbody>
   </table>
</div>
<div class='chart' id='chart' ”></div>
<!-- Durch Skript ist Plotly in html implementierbar -->
<!-- Quelle:  -->
<!-- https://towardsdatascience.com/web-visualization-with-plotly-and-flask-3660abf9c946 -->
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
   var graphs = {{graphJSON | safe}};
   Plotly.plot('chart',graphs);
</script>
{% endif %}
</body>
{% endblock %}